@charset "UTF-8";

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* Estilo para o título */
h1 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

/* Estilo do formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

/* Estilo da tabela */
table {
    width: 100%;
    margin-bottom: 15px;
}

/* Estilo dos campos de entrada de texto */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo do botão "Adicionar" */
input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

input[type="button"]:hover {
    background-color: #45a049;
}
